﻿@using Pcelaristorefront.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bee products store</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Bee products store", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @using (Html.BeginAuthLi("Admin"))
                    {
                        @Html.ActionLink("Admin", "Index", "Admin", new { area = "Admin" }, new { })
                    }
                    @using (Html.BeginAuthLi("BeeKeeper"))
                    {
                        @Html.ActionLink("Products", "Index", "Product")
                    }
                    @using (Html.BeginAuthLi("BeeKeeper"))
                    {
                        @Html.ActionLink("Merchant Orders", "Index", "MOrder")
                    }
                    @using (Html.BeginAuthLi("BeeKeeper"))
                    {
                        @Html.ActionLink("Merchant Payments", "Index", "MPayment")
                    }
                    @using (Html.BeginAuthLi("StandardUser"))
                    {
                        @Html.ActionLink("Product catalog", "Index", "Catalog")
                    }
                    @using (Html.BeginAuthLi("StandardUser"))
                    {
                        @Html.ActionLink("My Orders", "Index", "UOrder")
                    }
                    @using (Html.BeginAuthLi("StandardUser"))
                    {
                        @Html.ActionLink("My Payments", "Index", "UPayment")
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Bee Products store - .NET Okruženje</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/globalize")
    @Scripts.Render("~/bundles/bootstrap")
    @Html.Partial("_UICultureSetup")
    @RenderSection("scripts", required: false)
</body>

</html>
