﻿@model List<PcelariStorefront.Models.CartViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h2>My Cart</h2>
</div>

<div class="row">
    <div style="float: right; clear: both;">
        @Html.ActionLink("Finaliziraj narudžbu", "PlaceOrder", null, new { @class = "btn btn-success" })
    </div>
</div>
<br />
<div class="row">
    @if (Model != null && Model.Count > 0)
    {

        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>Šifra proizvoda</th>
                    <th>Naziv</th>
                    <th>Količina</th>
                    <th>Cijena</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cvm in Model)
                {
                    <tr>
                        <td>@cvm.Sifra</td>
                        <td>@cvm.Name</td>
                        <td>
                            @Html.EditorFor(c => cvm.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                        </td>
                        <td>@cvm.Price</td>
                        <td><a href="javascript:void(0);" onclick="updatekolicine(this, @cvm.Id)">Update količine</a></td>
                    </tr>
                }
            </tbody>
        </table>

    }
    else {
        <div class="alert alert-info" style="text-align:center;">
            <strong>Info!</strong> Nemate proizvoda u kosarici. Kupite nešto :)
        </div>
    }
</div>



@section scripts{
    <script type="text/javascript">
        function updatekolicine(link, sifra) {
            var kolicina = $(link).parent().parent().find("input").val();
            $.ajax({
                url: '@Url.Action("Update")',
                method: "POST",
                data: { id: sifra, qty: parseInt(kolicina) },
                success: function (data) {
                    if (data != "") {
                        alert("Uspješno promjenjena količina");
                        location.reload();
                    } else {
                        alert("Neuspješno promjenjena količina / nemamo toliko proizvoda na stanju");
                    }
                }
            });
        }
    </script>
}
