﻿@model PcelariStorefront.Models.OrderViewModel

@{
    ViewBag.Title = "PlaceOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h2>Place Order</h2>
    <br />
    <p>Vaša narudžba je uspješno zaprimljena</p>

    <p>OrderID: @Model.OrderId</p>

    <p>Datum dostave: @Model.delivery.ToLongDateString()</p>

    <div class="row">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>Šifra proizvoda</th>
                    <th>Naziv</th>
                    <th>Količina</th>
                    <th>Cijena</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cvm in Model.items)
                {
                    <tr>
                        <td>@cvm.Product.ProductCode</td>
                        <td>@cvm.Product.Name</td>
                        <td>@cvm.OrderedQuantity</td>
                        <td>@cvm.PurchasePrice</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <p>Ukupno za platiti: @Model.total</p>

</div>