﻿@model PcelariStorefront.Models.DomainModel.ProductType
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Edit product type</h2>
<br /><br />
@using (Html.BeginForm())
{
    <text>
        @Html.Partial("_CreateOrEdit")
        @Html.HiddenFor(p => p.ID)
    </text>
}
