﻿@model List<PcelariStorefront.Models.DomainModel.ProductType>
@{
    ViewBag.Title = "ProductTypes";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h2>Product Types</h2>
</div>

<div class="row">
    <div style="float: right; clear: both;">
        @Html.ActionLink("Dodaj novi tip", "Create", null, new { @class = "btn btn-success" })
    </div>
</div>

<div class="row">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th style="width: 100px;">#</th>
                <th>Naziv</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pt in Model)
            {
                <tr>
                    <td>@pt.ID</td>
                    <td>@pt.Name</td>
                    <td style="text-align: right;">@Html.ActionLink("Uredi", "Edit", new { id = pt.ID })</td>
                </tr>
            }
        </tbody>
    </table>
</div>
