﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Merchant payments</h2>
<br /><br />
<div class="alert alert-danger">
    <strong>Danger!</strong> Still not implemented because Nikola is very busy :)
</div>
