﻿@model List<PcelariStorefront.Models.DomainModel.User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h2>Product catalog</h2>
</div>
<br />
<div class="row">
    @if (Model != null && Model.Count > 0)
    {

        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>Ime i prezime</th>
                    <th>Email</th>
                    <th>OIB</th>
                    <th>Adresa</th>
                    <th>Datum registracije</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var usr in Model)
                {
                    <tr>
                        <td>@string.Format("{0} {1}", usr.Name, usr.Surname)</td>
                        <td>@usr.Email</td>
                        <td>@usr.OIB</td>
                        <td>@usr.FullAddress</td>
                        <td>@usr.DateOfRegister.ToShortDateString()</td>
                        <td>@Html.ActionLink("Proizvodi", "Products", new { uid = @usr.Id } )</td>
                    </tr>
                }
            </tbody>
        </table>

    }
    else {
        <div class="alert alert-info" style="text-align:center;">
            <strong>Info!</strong> Ne postoji niti jedan pčelar!
        </div>
    }
</div>

