﻿@model List<PcelariStorefront.Models.DomainModel.Product>
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <h2>Products </h2>
</div>
<br />
<div class="row">
    @if (Model != null && Model.Count > 0)
    {

        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th style="width: 100px;">#</th>
                    <th>Šifra proizvoda</th>
                    <th>Naziv</th>
                    <th>Opis</th>
                    <th>Tip proizvoda</th>
                    <th>Količina na skladištu</th>
                    <th>Cijena</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var prod in Model)
                {
                    <tr>
                        <td>@prod.ID</td>
                        <td>@prod.ProductCode</td>
                        <td>@prod.Name</td>
                        <td><a href="#" id="@prod.ID" class="description-popover">Opis</a></td>
                        <td>@prod.ProductType.Name</td>
                        <td>@prod.Quantity</td>
                        <td>@prod.Price</td>
                        <td>
                            <div class="hidden" id="popover-data-@prod.ID">
                                @prod.Description
                            </div>
                        </td>
                        <td><a href="/kosarica/dodaj/@prod.ID">Dodaj u košaricu - @prod.ProductCode</a></td>
                    </tr>
                }
            </tbody>
        </table>

    }
    else {
        <div class="alert alert-info" style="text-align:center;">
            <strong>Info!</strong> Nepostoji proizvod u asortimanu tog Merchanta!
        </div>
    }
</div>



@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".description-popover").click(function () {
                var id = $(this).attr("id");
                $(this).popover({ content: $("#popover-data-"+id).html(), html: true });
            });
        });
    </script>
}
