﻿@{
    ViewBag.Title = "About";
}


<div class="row">
    <h2>@ViewBag.Title</h2>
    <br /><br />
    <p>Ovo je primjer jednostavnog ecommerce sustava za oglašavanje i prodaju pčelarskih proizvoda</p>
    <p>Korisnici mogu naručiti pčelarske proizvode, a ukoliko nekada u budućnosti odluče postati pčelari, mogu početi oglašavati proizvode</p>
    <p>Pčelari oglašavaju te prodaju svoje proizvode</p>
    <p>Kupljene proizvode je moguće platiti svojim tajnim ključem (simulacija "kartičnog" plaćanja), uz administratorsku autorizaciju plaćaja</p>
    <p>Uplate je moguće pregledavati</p>
</div>
<br />
<div class="row">
    <p>Korištene tehnologije:
        <ul class="list-group">
            <li class="list-group-item">ASP.NET MVC 5</li>
            <li class="list-group-item">Javascript</li>
            <li class="list-group-item">ASP.NET WEB API 2</li>
            <li class="list-group-item">springboot !?</li>
        </ul>
    </p>
</div>