﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h4>If u like this app of course!</h4>

<address>
    <div class="form-group">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2782.8861636120055!2d15.945127106295123!3d45.77347158750734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4765d42452666063%3A0x2034c161ba9cee1b!2sLani%C5%A1te+ul.+20%2C+10020%2C+Zagreb!5e0!3m2!1shr!2shr!4v1460819657452" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</address>

<address>
    <div class="form-group">
        <p>Nikola Mašić</p>
    </div>

    <div class="form-group">
        <p><a href="mailto:masic1nik@gmail.com">masic1nik@gmail.com</a></p>
    </div>

    <div class="form-group">
        <p><strong>JMBAG</strong> 0246043674</p>
        <a href="https://hr.linkedin.com/in/nikola-masic-134b5352">Linkedin</a>
    </div>

</address>



