﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bee products store!</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Oglasi svoje proizvode</h2>
        <p>
            Ukoliko si pčelar s područja grada Zagreba, registriraj se kao isti, oglašavaj i prodaj svoje proizvode. Također registrirati se možeš i sa svojim google+ korisničkim računom.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Koristi pčelarske proizvode</h2>
        <p>Kao što brojni ljubitelji proizvoda u pčelarstvu i znaju nisu svi proizvodi rezultat direktnog rada pčela već i marljivih pčelara. Nadamo se da ste probali mnoge vrste pčelinjih proizvoda okusili njihove specifične karakteristike, uočili razlike u boji okusu i slično.</p>
        <p><a class="btn btn-default" href="http://www.pcelarstvo.hr/index.php/proizvodi/proizvodi-pcela">Pročitaj cijeli članak &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="http://selo.hr/razno/pcela1.jpg" />
    </div>
</div>