﻿@model List<PcelariStorefront.Models.DomainModel.Order>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h2>Merchant Orders</h2>
</div>
<br />
<div class="row">
    @if (Model != null && Model.Count > 0)
    {

        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th style="width: 100px;">#</th>
                    <th>Datum narudžbe</th>
                    <th>Datum dostave</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ord in Model)
                {
                    <tr>
                        <td>@ord.ID</td>
                        <td>@ord.DateCreated</td>
                        <td>@ord.DeliveryDate</td>
                        <td>@ord.TotalAmount</td>
                    </tr>
                }
            </tbody>
        </table>

    }
    else {
        <div class="alert alert-info" style="text-align:center;">
            <strong>Info!</strong> Nemate još niti jednu narudžbu. Bude netko nešto naručio :)
        </div>
    }
</div>